doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
h2 List Of Chick Stock Added Per Day
table
  thead
    tr
      th Category
      th Chick Type
      th Age
      th Num of Chicks Added
      th Stock Date 
      th Comments 
      th Staff Name
      th Signature
      th Phone Number
  tbody 
    if  chicks.length
      each chick in chicks
          tr
            td #{chick.category}
            td #{chick.type}
            td #{chick.age}
            td #{chick.number}
            td #{moment(chick.stock_date).format("DD-MM-YYYY")}
            td #{chick.comments}
            td #{chick.staff_name}
            td #{chick.signature}
            td #{chick.phone}     