doctype html
head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css")
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
h2 Sales Representatives List 
table
  thead
    tr
      th Full Name
      th Contact
      th Email
      th Role
      th Update
      th Delete 
  tbody 
    if  users.length
      each user in users
        if user.role==="salesRep"
          tr
            td #{user.fullname}
            td #{user.phone}
            td #{user.email}
            td #{user.role}
            td 
              a.btn.btn-primary.btn-block(href="/updateuser/"+user._id) Update 
            td 
              form(method="POST" action="/deleteuser")
                input(type="hidden" name="id" value=user._id)
                button.btn.btn-danger.btn-block(type="submit") Delete
br
br
h2 Managers List 
table
  thead
    tr
      th Full Name
      th Contact
      th Email
      th Role
      th Update
      th Delete 
  tbody 
    if  users.length
      each user in users 
        if user.role==="brooderManager"
          tr
            td #{user.fullname}
            td #{user.phone}
            td #{user.email}
            td #{user.role}
            td 
              a.btn.btn-primary.btn-block(href="/updateuser/"+user._id) Update
            td 
              form(method="POST" action="/deleteuser")
                input(type="hidden" name="id" value=user._id)
                button.btn.btn-danger.btn-block(type="submit") Delete
br
br
h2 Farmers  List 
table
  thead
    tr
      th Full Name
      th Contact
      th Email
      th Role
      th Update
      th Delete
  tbody 
    if  users.length
      each user in users 
        if user.role==="farmer"
          tr
            td #{user.fullname}
            td #{user.phone}
            td #{user.email}
            td #{user.role}  
            td 
              a.btn.btn-primary.btn-block(href="/updateuser/"+user._id) Update
            td 
              form(method="POST" action="/deleteuser")
                input(type="hidden" name="id" value=user._id)
                button.btn.btn-danger.btn-block(type="submit") Delete